main {
  width: 90%;
  margin: auto;
}

.rockets--list {
  list-style: none;
}

.rocket--img {
  width: 100%;
}

.reserve--btn {
  background-color: rgba(7, 7, 250, 0.913);
  border: none;
  padding: 10px;
  border-radius: 5px;
  color: #fff;
}

.rockets--desc {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.8rem;
  margin-top: 0;
}

@media (min-width: 768px) {
  .rockets--list li {
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 1.5rem;
  }

  .rocket--img {
    width: 250px;
  }

  .rockets--desc {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 0;
  }
}
