header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: whitesmoke;
  padding: 20px;
}

.header--logo {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.link--list {
  list-style: none;
  display: flex;
  gap: 0.7rem;
}

.link--list a {
  color: rgba(0, 0, 255, 0.637);
  font-size: 1.1rem;
}