.loading--container {
  margin: 100px 0;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  align-items: center;
  justify-content: center;
}

.Loading--header {
  font-size: 2em;
  text-transform: capitalize;
}
.loading--container p {
  font-size: 1.3rem;
  letter-spacing: 2px;
}